---
import type  { Props } from "../../../types/domain/linkButton.types";

const props: Props = Astro.props;
---

<a href={props.href} class={`link_button ${props.className ?? ""}`.trim()}>
  {props.contentType === "icon" ? (
    <img src={props.iconSrc} alt={props.iconAlt} class="link_button_icon"/>
  ) : (
    props.label
  )}
</a>
