---
import ShoppingCart from "./ShoppingCart.astro";
import ButtonAccesMenu from "./ButtonAccesMenu.astro";

const { home } = Astro.props;
---

<header class="header">
    <nav class="header_container">
        <h1 class="header_titulo">{home.title}</h1>
        <div class="header_buttons">
            <ShoppingCart />    
            <ButtonAccesMenu />
        </div>
    </nav>
</header>

<style>
    .header {
        width: 100vw;
        min-height: 7rem;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .header_container {
        width: 85%;
        height: 5.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 0 1rem;
        background-color: var(--color-red);
        border: .1rem solid var(--color-black);
        border-right: none;
        border-radius: 2rem 0 0 2rem;
    }

    .header_buttons {
        display: flex;
        gap: .8rem;
    }

    .header_titulo {
        margin: 0;
        text-align: center;
        font-family: var(--font-decorative);
        font-size: var(--txt-size-title);
        font-weight: var(--font-bold);
    }
</style>
