---
import LinkButton from "../ui/navigation/LinkButton.astro";
---

<header class="header">
    <nav class="header_container">
        <img class="logo_lumi" src="/lumi.svg" alt="Logo Lumi">
        <div class="header_buttons">
            <LinkButton 
                contentType="icon" 
                iconSrc="/shopping_cart.svg" 
                iconAlt="Carrito de compras" 
                href="/cart"
                className="button_primary"
            /> 
            <LinkButton 
                contentType="text" 
                label="Menú" 
                href="/menu"
                className="button_primary" 
            />
        </div>
    </nav>
</header>

<style>
    .header {
        width: 100vw;
        min-height: 7rem;
        display: flex;
        justify-content: center;
    }

    .header_container {
        width: 85%;
        height: 5.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header_buttons {
        display: flex;
        gap: .8rem;
    }

    .logo_lumi {
        width: 5.5rem;
    }

</style>
