---
const { imagenFondoHomePage, alternativeText } = Astro.props;
---
<article class="hero">
  <section>
    <img src={imagenFondoHomePage} alt={alternativeText} class="banner" />
    <button class="hero_button_pedir">Pedir</button>
  </section>
</article>

<style>
  .hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero_button_pedir {
    margin: 0 auto;
    padding: 1rem 3rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero_titulo_main {
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--txt-size-title);
    font-weight: var(--font-bold);
    
  }

  .banner {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>
