<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Paempanadas</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--font-primary: 'Libre Caslon Condensed';
		--font-title: 'Instrument Sans';
		--font-semibold: 600;
		--font-medium: 500;
		--font-regular: 400;
		--font-bold: 800;
	}

	@font-face {
    font-family: 'Instrument Sans';
    src: url('/fonts/InstrumentSans-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
  }


	@font-face {
		font-family: 'Libre Caslon Condensed';
		src: url('/fonts/LibreCaslonCondensed.woff2') format('woff2');
		font-weight: 200 900;
		font-style: normal;
		font-display: swap;
	}

	@media (max-width: 768px) {
		html,
		body {
			font-family: var(--font-primary), serif;
			min-height: 100vh;
			overflow-x: hidden;
			margin: 0;
		}

		body {
			font-size: 16px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	button {
		all: unset;
	}
</style>
